<launch>

  <param name="robot_description" textfile="$(find multi_robot_state_publisher)/test/two_links_fixed_joint.urdf" />

  <node pkg="multi_robot_state_publisher" name="two_links_fixed_joints_pub" type="multi_robot_state_publisher" output="screen">
    <param name="~use_tf_static" value="false" />
  </node>

  <test test-name="test_two_links_fixed_joint" pkg="multi_robot_state_publisher" type="test_two_links_fixed_joint" />
</launch>
